html,body{
	margin: 0;
	line-height: 1;
	background-color: #22252C;

	}

.navbar, .navbar-fixed-top .navbar-right {
	position: fixed right;
	top: 20px;
	right: 30px;
	margin: 0 auto;
	width: 24%;
	overflow: hidden;
    background-color: none; 
    float: right;
}
.navbar ul{
	list-style-type: none;
	margin: 0;
	padding:0; 
}

.navbar li{
	font-size: 16px;
	font-weight:400;
	font-family: "Josefin Sans", sans-serif;
		letter-spacing: 1px;
	display: inline-block;
	margin-right: 25px

}

.navbar a{
	color: #0066ff;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	float: right;

}
#left{
	padding-top: 950px;
	background-color: #22252C;
	height: 100%
}

#right{
	height: 970px;
	padding-top: 100px;
	text-align: center;
	background-color: #22252C;
}


#right h1{
	font-family:"Josefin Sans";
	color: #0066ff;
	margin: 0 0 15px 0;

}

#right h3{
	font-family: "Open Sans";
	color: #ffffff;
	margin: 0 0 30px 30px;
}

.picture{
	background-color: #F1F1F1;
	background: url(https://farm4.staticflickr.com/3792/32758578193_f4213cf406_h.jpg) no-repeat center center;
	background-size: cover;
}

@media screen and (max-width: 600px){
    .navbar li.right, 
    .navbar li {float: none !important;}
